@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 15vh;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  background-color: whitesmoke;
}

h1 {
  font-size: 26px;
  font-family: cursive;
  color: rgb(129, 33, 33);
}

section {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}

footer {
  height: 50px;
  color: rgb(129, 33, 33);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  header {
    justify-content: space-between;
  }
  h1 {
    margin-right: 30px;
    font-size: 2.2rem;
  }
  nav ul li a {
    font-size: 1.5rem;
  }
  section {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
    margin-right: 40px;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.hamburger {
  width: 50px;
  height: 50px;
  position: relative;
}
.hamburger input {
  width: 100%;
  height: 100%;
  opacity: 0%;
}
.hamburger label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
}
.hamburger label span {
  display: inline-block;
  width: 75%;
  height: 5px;
  border-radius: 25px;
  background-color: white;
}
.hamburger label span:nth-child(1) {
  border-radius: 30px 30px 4px 4px;
  height: 14px;
  width: 80%;
  background: radial-gradient(49% 81% at 45% 47%, rgba(255, 194, 3, 0.2705882353) 0%, rgba(7, 58, 255, 0) 100%), radial-gradient(113% 91% at 17% -2%, #fcb455 1%, rgba(255, 0, 0, 0) 99%), radial-gradient(142% 91% at 83% 7%, #ffcb19 1%, rgba(255, 0, 0, 0) 99%), radial-gradient(142% 91% at -6% 74%, #c06810 1%, rgba(255, 0, 0, 0) 99%), radial-gradient(142% 91% at 111% 84%, #fbae35 0%, #e29f21 100%);
}
.hamburger label span:nth-child(2) {
  background-color: rgb(192, 44, 44);
  width: 65%;
  height: 4px;
}
.hamburger label span:nth-child(3) {
  background-color: rgb(237, 194, 41);
  width: 90%;
  height: 5px;
  margin-bottom: -3px;
  -webkit-clip-path: polygon(7% 0%, 93% 0%, 100% 100%, 75% 50%, 25% 50%, 0% 100%);
          clip-path: polygon(7% 0%, 93% 0%, 100% 100%, 75% 50%, 25% 50%, 0% 100%);
}
.hamburger label span:nth-child(4) {
  background-color: rgb(84, 49, 35);
  height: 5px;
}
.hamburger label span:nth-child(5) {
  background-color: rgb(237, 194, 41);
  width: 90%;
  height: 5px;
  margin-bottom: -3px;
  -webkit-clip-path: polygon(7% 0%, 93% 0%, 100% 100%, 75% 50%, 25% 50%, 0% 100%);
          clip-path: polygon(7% 0%, 93% 0%, 100% 100%, 75% 50%, 25% 50%, 0% 100%);
}
.hamburger label span:nth-child(6) {
  background-color: rgb(84, 49, 35);
  height: 5px;
}
.hamburger label span:nth-child(7) {
  background-color: rgb(67, 164, 67);
  margin-top: -10px;
  margin-bottom: -2px;
  width: 90%;
  height: 15px;
  -webkit-clip-path: polygon(0% 70%, 5% 60%, 10% 70%, 15% 60%, 20% 70%, 25% 60%, 30% 70%, 35% 60%, 40% 70%, 45% 60%, 50% 70%, 55% 60%, 60% 70%, 65% 60%, 70% 70%, 75% 60%, 80% 70%, 85% 60%, 90% 70%, 95% 60%, 100% 70%, 100% 100%, 95% 90%, 90% 100%, 85% 90%, 80% 100%, 75% 90%, 70% 100%, 65% 90%, 60% 100%, 55% 90%, 50% 100%, 45% 90%, 40% 100%, 35% 90%, 30% 100%, 25% 90%, 20% 100%, 15% 90%, 10% 100%, 5% 90%, 0% 100%);
          clip-path: polygon(0% 70%, 5% 60%, 10% 70%, 15% 60%, 20% 70%, 25% 60%, 30% 70%, 35% 60%, 40% 70%, 45% 60%, 50% 70%, 55% 60%, 60% 70%, 65% 60%, 70% 70%, 75% 60%, 80% 70%, 85% 60%, 90% 70%, 95% 60%, 100% 70%, 100% 100%, 95% 90%, 90% 100%, 85% 90%, 80% 100%, 75% 90%, 70% 100%, 65% 90%, 60% 100%, 55% 90%, 50% 100%, 45% 90%, 40% 100%, 35% 90%, 30% 100%, 25% 90%, 20% 100%, 15% 90%, 10% 100%, 5% 90%, 0% 100%);
}
.hamburger label span:nth-child(8) {
  background: radial-gradient(49% 81% at 45% 47%, rgba(255, 194, 3, 0.2705882353) 0%, rgba(7, 58, 255, 0) 100%), radial-gradient(113% 91% at 17% -2%, #fcb455 1%, rgba(255, 0, 0, 0) 99%), radial-gradient(142% 91% at 83% 7%, #ffcb19 1%, rgba(255, 0, 0, 0) 99%), radial-gradient(142% 91% at -6% 74%, #c06810 1%, rgba(255, 0, 0, 0) 99%), radial-gradient(142% 91% at 111% 84%, #fbae35 0%, #e29f21 100%);
  height: 7px;
  border-radius: 4px 4px 20px 20px;
}

/* Disparition des éléments */
@keyframes disparition {
  0% {
    transform: translate(0);
    opacity: 1;
    margin: 0;
  }
  55% {
    opacity: 1;
  }
  100% {
    transform: translateX(200px);
    opacity: 0;
  }
}
input:checked + label span:nth-child(1),
input:checked + label span:nth-child(2),
input:checked + label span:nth-child(4),
input:checked + label span:nth-child(6),
input:checked + label span:nth-child(7) {
  animation: disparition 2s forwards;
}

/* Transformation en cornet */
@keyframes transformation-cornet {
  0% {
    background: rgb(255, 196, 0);
    height: 7px;
    width: 90%;
    border-radius: 4px 4px 20px 20px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  100% {
    background: rgb(192, 44, 44);
    height: 50%;
    width: 60%;
    border-radius: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
            clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
  }
}
input:checked + label span:nth-child(8) {
  animation: transformation-cornet 2s forwards;
}

/* Transformation en frites */
@keyframes rotation-frite1 {
  0% {
    transform: rotate(0) translate(0, 0);
    -webkit-clip-path: polygon(7% 0%, 93% 0%, 100% 100%, 75% 50%, 25% 50%, 0% 100%);
            clip-path: polygon(7% 0%, 93% 0%, 100% 100%, 75% 50%, 25% 50%, 0% 100%);
    border-radius: 25px;
    width: 90%;
  }
  100% {
    transform: rotate(45deg) translate(-12px, 2px);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-radius: 0;
    width: 100%;
  }
}
input:checked + label span:nth-child(3) {
  animation: rotation-frite1 2s forwards 1s;
}

@keyframes rotation-frite2 {
  0% {
    transform: rotate(0) translate(0, 0);
    -webkit-clip-path: polygon(7% 0%, 93% 0%, 100% 100%, 75% 50%, 25% 50%, 0% 100%);
            clip-path: polygon(7% 0%, 93% 0%, 100% 100%, 75% 50%, 25% 50%, 0% 100%);
    border-radius: 25px;
    width: 90%;
  }
  100% {
    transform: rotate(-45deg) translate(12px, -2px);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-radius: 0;
    width: 100%;
  }
}
input:checked + label span:nth-child(5) {
  animation: rotation-frite2 2s forwards 1s;
}

/* Retour à l'état initial */
/* Animation du toggle */
/* Apparition des éléments */
@keyframes apparition {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
input:not(:checked) + label span:nth-child(1),
input:not(:checked) + label span:nth-child(2),
input:not(:checked) + label span:nth-child(4),
input:not(:checked) + label span:nth-child(6),
input:not(:checked) + label span:nth-child(7) {
  animation: apparition 2s forwards;
}

/* Transformation en burger */
@keyframes transformation-burger {
  0% {
    height: 50%;
    width: 60%;
    border-radius: 0;
  }
  100% {
    height: 10px;
    width: 80%;
    border-radius: 4px 4px 20px 20px;
  }
}
input:not(:checked) + label span:nth-child(8) {
  animation: transformation-burger 2s forwards;
}

/* Transformation en frites */
@keyframes retour-frite1 {
  0% {
    transform: rotate(45deg) translate(-12px, 2px);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-radius: 0;
    width: 100%;
  }
  100% {
    transform: rotate(0) translate(0, 0);
    -webkit-clip-path: polygon(7% 0%, 93% 0%, 100% 100%, 75% 50%, 25% 50%, 0% 100%);
            clip-path: polygon(7% 0%, 93% 0%, 100% 100%, 75% 50%, 25% 50%, 0% 100%);
    border-radius: 25px;
    width: 90%;
  }
}
input:not(:checked) + label span:nth-child(3) {
  animation: retour-frite1 2s forwards;
}

@keyframes retour-frite2 {
  0% {
    transform: rotate(-45deg) translate(12px, -2px);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-radius: 0;
    width: 100%;
  }
  100% {
    transform: rotate(0) translate(0, 0);
    -webkit-clip-path: polygon(7% 0%, 93% 0%, 100% 100%, 75% 50%, 25% 50%, 0% 100%);
            clip-path: polygon(7% 0%, 93% 0%, 100% 100%, 75% 50%, 25% 50%, 0% 100%);
    border-radius: 25px;
    width: 90%;
  }
}
input:not(:checked) + label span:nth-child(5) {
  animation: retour-frite2 2s forwards;
}

@media (min-width: 600px) {
  .hamburger {
    margin-left: 30px;
  }
}
@media (min-width: 1024px) {
  .hamburger {
    width: 80px;
    height: 80px;
    margin-left: 40px;
  }
  .hamburger label span:nth-child(1) {
    border-radius: 30px 30px 4px 4px;
    height: 20px;
    width: 80%;
    background: radial-gradient(49% 81% at 45% 47%, rgba(255, 194, 3, 0.2705882353) 0%, rgba(7, 58, 255, 0) 100%), radial-gradient(113% 91% at 17% -2%, #fcb455 1%, rgba(255, 0, 0, 0) 99%), radial-gradient(142% 91% at 83% 7%, #ffcb19 1%, rgba(255, 0, 0, 0) 99%), radial-gradient(142% 91% at -6% 74%, #c06810 1%, rgba(255, 0, 0, 0) 99%), radial-gradient(142% 91% at 111% 84%, #fbae35 0%, #e29f21 100%);
  }
  .hamburger label span:nth-child(2) {
    background-color: rgb(192, 44, 44);
    width: 65%;
    height: 6px;
  }
  .hamburger label span:nth-child(3) {
    background-color: rgb(237, 194, 41);
    width: 90%;
    height: 8px;
    margin-bottom: -5px;
    -webkit-clip-path: polygon(7% 0%, 93% 0%, 100% 100%, 75% 50%, 25% 50%, 0% 100%);
            clip-path: polygon(7% 0%, 93% 0%, 100% 100%, 75% 50%, 25% 50%, 0% 100%);
  }
  .hamburger label span:nth-child(4) {
    background-color: rgb(84, 49, 35);
    height: 8px;
  }
  .hamburger label span:nth-child(5) {
    background-color: rgb(237, 194, 41);
    width: 90%;
    height: 8px;
    margin-bottom: -5px;
    -webkit-clip-path: polygon(7% 0%, 93% 0%, 100% 100%, 75% 50%, 25% 50%, 0% 100%);
            clip-path: polygon(7% 0%, 93% 0%, 100% 100%, 75% 50%, 25% 50%, 0% 100%);
  }
  .hamburger label span:nth-child(6) {
    background-color: rgb(84, 49, 35);
    height: 8px;
  }
  .hamburger label span:nth-child(7) {
    background-color: rgb(67, 164, 67);
    margin-top: -15px;
    margin-bottom: -2px;
    width: 90%;
    height: 20px;
    -webkit-clip-path: polygon(0% 70%, 5% 60%, 10% 70%, 15% 60%, 20% 70%, 25% 60%, 30% 70%, 35% 60%, 40% 70%, 45% 60%, 50% 70%, 55% 60%, 60% 70%, 65% 60%, 70% 70%, 75% 60%, 80% 70%, 85% 60%, 90% 70%, 95% 60%, 100% 70%, 100% 100%, 95% 90%, 90% 100%, 85% 90%, 80% 100%, 75% 90%, 70% 100%, 65% 90%, 60% 100%, 55% 90%, 50% 100%, 45% 90%, 40% 100%, 35% 90%, 30% 100%, 25% 90%, 20% 100%, 15% 90%, 10% 100%, 5% 90%, 0% 100%);
            clip-path: polygon(0% 70%, 5% 60%, 10% 70%, 15% 60%, 20% 70%, 25% 60%, 30% 70%, 35% 60%, 40% 70%, 45% 60%, 50% 70%, 55% 60%, 60% 70%, 65% 60%, 70% 70%, 75% 60%, 80% 70%, 85% 60%, 90% 70%, 95% 60%, 100% 70%, 100% 100%, 95% 90%, 90% 100%, 85% 90%, 80% 100%, 75% 90%, 70% 100%, 65% 90%, 60% 100%, 55% 90%, 50% 100%, 45% 90%, 40% 100%, 35% 90%, 30% 100%, 25% 90%, 20% 100%, 15% 90%, 10% 100%, 5% 90%, 0% 100%);
  }
  .hamburger label span:nth-child(8) {
    background: radial-gradient(49% 81% at 45% 47%, rgba(255, 194, 3, 0.2705882353) 0%, rgba(7, 58, 255, 0) 100%), radial-gradient(113% 91% at 17% -2%, #fcb455 1%, rgba(255, 0, 0, 0) 99%), radial-gradient(142% 91% at 83% 7%, #ffcb19 1%, rgba(255, 0, 0, 0) 99%), radial-gradient(142% 91% at -6% 74%, #c06810 1%, rgba(255, 0, 0, 0) 99%), radial-gradient(142% 91% at 111% 84%, #fbae35 0%, #e29f21 100%);
    height: 10px;
    border-radius: 4px 4px 20px 20px;
  }
}
nav {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 15vh;
  width: 40%;
  overflow: hidden;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  height: 85vh;
}
nav ul li {
  list-style-type: none;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgb(185, 185, 185);
}
nav ul li a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  text-transform: uppercase;
  color: rgb(129, 33, 33);
  font-weight: 700;
}

/* Ouverture de la barre de navigation */
@keyframes ouvrir-navigation {
  from {
    max-height: 0;
  }
  to {
    max-height: 85vh;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
input[type=checkbox]:checked ~ nav {
  animation: ouvrir-navigation 1s, opacity 1s;
}

/* Fermeture de la barre de navigation */
@keyframes fermer-navigation {
  from {
    max-height: 85vh;
  }
  to {
    max-height: 0;
  }
}
@keyframes fin-opacity {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
input[type=checkbox]:not(:checked) ~ nav {
  animation: fermer-navigation 1s, fin-opacity 1s;
}

#ketchup {
  background-color: rgb(129, 33, 33);
}

#mayonnaise {
  background-color: rgb(255, 241, 188);
  color: black;
}

#moutarde {
  background-color: rgb(200, 150, 51);
}

#salade {
  background-color: rgb(67, 164, 67);
}

@media (min-width: 1024px) {
  #ketchup {
    grid-column: 1;
    grid-row: 1;
  }
  #mayonnaise {
    grid-column: 2;
    grid-row: 1;
  }
  #moutarde {
    grid-column: 1;
    grid-row: 2;
  }
  #salade {
    grid-column: 2;
    grid-row: 2;
  }
}/*# sourceMappingURL=main.css.map */