// Couleurs

$ketchup: rgb(129, 33, 33);
$mayo: rgb(255, 241, 188);
$moutarde: rgb(200, 150, 51);
$salade: rgb(67, 164, 67);
$background: rgb(72, 160, 255);
$bread: radial-gradient(49% 81% at 45% 47%, #FFC20345 0%, #073AFF00 100%), radial-gradient(113% 91% at 17% -2%, #FCB455FF 1%, #FF000000 99%), radial-gradient(142% 91% at 83% 7%, #FFCB19FF 1%, #FF000000 99%), radial-gradient(142% 91% at -6% 74%, #C06810FF 1%, #FF000000 99%), radial-gradient(142% 91% at 111% 84%, #FBAE35FF 0%, #E29F21FF 100%);
$cornet: radial-gradient(49% 81% at 45% 47%, #BC0F0FFF 0%, #073AFF00 100%), radial-gradient(113% 91% at 17% -2%, #FF0049FF 1%, #FF000000 99%), radial-gradient(142% 91% at 83% 7%, #D51D1DFF 1%, #FF000000 99%), radial-gradient(142% 91% at -6% 74%, #901336FF 1%, #FF000000 99%), radial-gradient(142% 91% at 111% 84%, #FF1F00FF 0%, #FF0000FF 100%);
$tomate: rgb(192, 44, 44);
$fromage: rgb(237, 194, 41);
$steak:rgb(84, 49, 35);
$frite:rgb(255, 196, 0);

// Formes

$clip-path-fromage: polygon(7% 0%, 93% 0%, 100% 100%, 75% 50%, 25% 50%, 0% 100%);